<div class="flex justify-between items-center bg-gray-800/50">
	<p class="text-center text-lg p-4">&copy; Copyright 2026 daavril. All rights reserved.</p>
	<a href="https://github.com/TerijoJocho" target="_blank">
		<i class="fa-brands fa-github p-4 text-3xl mr-8"></i>
	</a>
</div>
