<!DOCTYPE html>
<html lang="fr">
<head>
  <%- include('../partials/head'); %>
  <script type="module" src="/js/gallery.js" defer></script>
</head>
  <body class="min-h-screen flex flex-col">

    <header class="">
      <%- include('../partials/header'); %>
      <%- include('../partials/errorsAndSuccess'); %>
    </header>

    <main class="flex-1 p-8">
      <div class=" flex flex-col justify-between">
        <div id="gallery-container" class="grid grid-cols-3 gap-4 w-full p-4">
        </div>

        <div class="flex items-center justify-center gap-4 mt-6 text-lg">
          <a id="prev-btn" href="#" class="px-4 py-2 text-sm text-black bg-white/5 rounded-md border border-white/10 hover:bg-violet-300">Previous</a>
            <span id="page-info" class="text-sm text-black">Page 1</span>
          <a id="next-btn" href="#" class="px-4 py-2 text-sm text-black bg-white/5 rounded-md border border-white/10 hover:bg-violet-300">Next</a>
        </div>
      </div>
    </main>



    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>
